/* Fonts */
@font-face {
  font-family: 'Hamburg Hand', sans-serif !important;
  src: url('/fonts/HamburgHandBold.woff2') format('woff2'),
      url('/fonts/HamburgHandBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hamburg Hand';
  src: url('/fonts/HamburgHandRegular.woff2') format('woff2'),
      url('/fonts/HamburgHandRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Globals */
* {
  box-sizing: border-box;
}

/* Typography */
h1, h2, h3, h4, h5, p, a, html, button {
  font-family: 'Hamburg Hand';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #111;
	--color-bg: #f8ecde;
	--color-link: #b19e7f;
	--color-link-hover: #000;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sofia-pro, sans-serif;
}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
main {
  padding-bottom: 300px;
}

main::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(../images/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
  z-index: -3;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}





/* ------------------ 
    Mobile
   ------------------ */


/* Hero */
h1.site-title a {
  color: #000;
  margin: 0;
  padding: 0px;
}
.site-description {
  font-size: 3vw;
  line-height: 1.2;
  text-align: justify;
}

/* Slideshow */
.slideshow {
  width: 100%;
  margin-top: 30px;
}
.slideshow-buttons {
  width: 90%;
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: space-between;
}
button.prev,
button.next {
  background: transparent;
  border: 0px;
  font-family: 'Arial', sans-serif !important;
  font-size: 42px;
  font-weight: 900;
  line-height: 0.3;
  cursor: pointer;
  padding: 20px 0px;
}
button.next:focus,
button.prev:focus {
  outline: 0;
}
button.next:hover,
button.prev:hover {
  border-top: 6px solid #000;
  border-bottom: 6px solid #000;
  padding: 8px 0px;
}
button.next {
  margin-left: 60px;
}


/* Contact */
.contact {
  margin-top: 20px;
}
.contact svg {
  padding-top: 0;
}



/* ------------------------------ OVER --------------------------- */





/* Marquee Footer */
.marquee {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background: #8c3c1f;
  color: #000;
}

.marquee p {
  position: absolute;
  font-size: 4rem;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  color: transparent;
  /* Outline */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  /* Animation */
  transform: translateX(10vw);
  animation: scroll-left 30s linear infinite;
}

 @keyframes scroll-left {
  0% {
      transform: translateX(0vw);
  }
  100% {
      transform: translateX(-350vw);
  }
} 

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.contact div {
  text-align: center;
}
.contact svg {
  margin-top: 20px;
}





/* ------------------ 
    Desktop
   ------------------ */
   @media screen and (min-width: 1000px) {

    /* Hero */
    .site-description {
      width: 60vw;
      font-size: 2vw;
      line-height: 1.4;
      text-align: justify;
      margin-top: 20px;
    }
  
    /* Slideshow */
    .slideshow-container {
      max-width: 50vw;
      margin-left: 47vw;
      margin-top: 100px;
    }
    .slideshow-buttons {
      width: 50vw;
      margin-top: 20px;
      margin-left: 48vw;
      display: flex;
      justify-content: flex-end;
    }
  
      /* Contact */
    .contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    .contact div {
      text-align: right;
    }
    .contact h2 {
      display: block;
      line-height: 1;
      padding: 0;
      margin: 0;
      text-align: right;
    }
    .contact a {
      text-decoration: none;
      color: inherit;
      letter-spacing: 6px;
    }

    .contact-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .contact-mobile button {
      letter-spacing: 3px !important;
      font-size: 42px;
    }
    .contact svg {
      display: block;
      margin-left: 40px;
      margin-right: 20px;
    }
    .contact-mobile {
      display: none;
    }
  }
  


